<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= __('about_title') %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/HeadFoot.css" />
    <link rel="stylesheet" href="/CSS/style-about.css" />
  </head>

  <body class="about-us">
    <%- include('partials/header') %>

    <section class="about">
      <div class="container">
        <h1><%= __('about_title') %></h1>
        <p><%= __('about_intro') %></p>

        <div class="about-content">
          <img
            src="/images/about us/about us.jpg"
            alt="<%= __('about_image_alt') %>"
            class="about-img"
          />
          <div class="about-text">
            <h2><%= __('our_legacy_title') %></h2>
            <p><%= __('our_legacy_text') %></p>

            <h2><%= __('craftsmanship_title') %></h2>
            <p><%= __('craftsmanship_text') %></p>
          </div>
        </div>

        <h2><%= __('elegance_title') %></h2>
        <p><%= __('elegance_text') %></p>
      </div>
    </section>

    <%- include('partials/footer') %>
  </body>
</html>

