<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= collection.name %> | Collection</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <img src="<%= collection.image %>" alt="<%= collection.name %> Image" />
    <!-- Add products related to this collection if needed -->
    <h3>Products</h3>
    <% if (products && products.length > 0) { %>
    <ul>
      <% products.forEach(product => { %>
      <li>
        <img src="<%= product.imageSrc %>" alt="<%= product.name %>" width="100" />
        <strong><%= product.name %></strong> - $<%= product.price %>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No products in this collection.</p>
    <% } %> 
    <%- include('partials/footer') %>
  </body>
</html>
