<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bracelets</title>
    <link rel="stylesheet" href="/Css/productsGrid.css" />
  </head>
  <body>
    <%- include('../partials/header') %>

    <div class="collection-header">
      <img
        src="/Images/homepageImg/earrings-bg.jpg"
        class="collection-image"
        alt="Bracelets"
      />
    </div>

    <h1 class="section-title">Earrings</h1>

    <div class="product-grid">
      <% products.forEach(product => { %>
      <div class="product-item">
        <img
          class="product-image"
          src="<%= product.imageSrc %>"
          alt="<%= product.name %>"
        />
        <span class="product-name"><%= product.name %></span>
        <p class="product-price">$<%= product.price %></p>
      </div>
      <% }) %>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>
