<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bracelets</title>
    <link rel="stylesheet" href="/Css/productsGrid.css" />
  </head>
  <body>
    <%- include('../partials/header') %>

    <div class="collection-header">
      <img
        src="/Images/homepageImg/necklace-bg.jpg"
        class="collection-image"
        alt="Bracelets"
      />
    </div>

    <h1 class="section-title">Necklace</h1>

    <div class="product-grid">
      <% products.forEach(product => { %>
      <a href="/product/<%= product._id %>" class="product-item-link">
        <div class="product-item">
          <img
            class="product-image"
            src="<%= product.imageSrc %>"
            alt="<%= product.name %>"
          />
            <% if (product.hoverImageSrc) { %>
          <img
            class="product-hover-image"
            src="<%= product.hoverImageSrc %>"
            alt="<%= product.name %> Hover"
          />
          <% } %>
          <span class="product-name"><%= product.name %></span>
          <p class="product-price">LE<%= product.price %></p>
        </div>
      </a>
      <% }) %>
    </div>
        <% if (totalPages > 1) { %>
    <div class="pagination">
      <% if (hasPrevPage) { %>
        <a href="?page=<%= currentPage - 1 %>" class="pagination-btn">&laquo; Previous</a>
      <% } %>
      
      <% for(let i = 1; i <= totalPages; i++) { %>
        <a href="?page=<%= i %>" class="pagination-btn <%= i === currentPage ? 'active' : '' %>"><%= i %></a>
      <% } %>
      
      <% if (hasNextPage) { %>
        <a href="?page=<%= currentPage + 1 %>" class="pagination-btn">Next &raquo;</a>
      <% } %>
    </div>
    <% } %>
   <script src="/javasScript/thumbnail.js"></script>
    <%- include('../partials/footer') %>
  </body>
</html>
